/*-----------------------------------------------------
AUTHOR: Muhan Guclu
WEBSITE: http://isthegovernmentshutdown.com

Primary Stylesheet
-----------------------------------------------------*/

/*-----------------------------------------------------
GENERAL STYLES
-----------------------------------------------------*/

body {
  overflow-x: hidden;
  background: #003c8f;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 140%;
}

p, li, a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #f4f5f4;
}

#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h1.cover-heading, h2, h3 {
        margin-bottom: 3rem !important; 
}

.mastfoot .inner p {
  margin-bottom: 0;
}

@media max-width 1024px {
        #clock {
            transform: translate(-25%, -70%) scale(0.5);
            -moz-transform: translate(-25%, -70%) scale(0.5);
            width: 200%;
            position: absolute;
        }
}
