{{define "title"}}IsTheGovernmentShutDown{{end}}

{{define "body"}}
  <div class="inner cover">
    <h1 class="cover-heading">Is the US Government Shut Down?</h1>
    <h2>YES</h1>

    <h3>The Government Has Been Shut Down For:</h3>
    <div id="clock"></div>

  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>Made by Muhan Guclu | Last Updated on: Jan 19, 2019</p>
      <p>Based on cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </div>
{{end}}
